.js [data-tab="content"] section {
    display: none;
}

[data-tab="content"] section.is-active {
    display: block !important;
    animation: show 0.5s forwards;
}

[data-tab="content"] section.is-active.show-right {
    display: block !important;
    animation: show-right 0.5s forwards;
}

[data-tab="content"] section.is-active.show-down {
    display: block !important;
    animation: show-down 0.5s forwards;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show-right {
    from {
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes show-down {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
